@import './vars.scss';

:root {
  /* Colors: */
  ---black: #000000;
  ---white: #ffffff;
  ---gray: #C1C2C4;
  ---text: #212121;
  ---text-icons: var(---text);
  ---text-icons-white: var(---white);
  ---additional-blue: #1084FF;
  ---secondary-green: #2ADF5D;
  ---secondary-orange: #FB7A14;
  ---primary-blue: #0148BE;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 300;
  color: var(---white);
  background: transparent radial-gradient(closest-side at 50% 50%, var(---primary-blue) 0%, #01245F 100%) 0% 0% no-repeat padding-box;
}

a {
  color: var(---additional-blue);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.Row{
  display: flex;
  flex-direction: row;
}

.ant-card {
  .ant-form {
    .ant-btn{
      display: block;
      width: 85%;
      margin: 0 auto;
    }
    .ant-form-item-has-success{
      .ant-input-suffix{
        color: var(--ant-success-color);
      }
    }
    .ant-input-password-icon{
      color: #B9B9B9;
      display: flex;
      justify-content: space-between;
      //width: 38px;
    }
    .ant-checkbox-wrapper{
      align-items: flex-start;
      .ant-checkbox-inner{
        width: 30px;
        height: 30px;
        &::after{
          left: 35%;
        }
      }
    }
  }  
}

.disclamer{
  font-size: 0.9em;
  font-weight: 300;
  text-align: center;
}

@media only screen and (min-width: $screen-sm-min) {
  .ant-card {
    .ant-form {
      .ant-btn{
        width: 70%;
      }
      .ant-checkbox-wrapper{
        align-items: flex-start;
        .ant-checkbox-inner{
          width: 20px;
          height: 20px;
          &::after{
            left: 25%;
          }
        }
      }  
    }
  }
}