@import './vars.scss';

.Default{
    margin: 0;
}

.CardLayout{
    margin: 0 5%;
    .PageHeading{
        color: var(---white);
        font-size: 1.5em;
        font-weight: 300;
        margin:7% 0 5%;
    }
}

@media only screen and (min-width: 660px) {
    .CardLayout{
        margin: 0 auto;
        max-width: 600px;
    }
}