.MainNavBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: var(---white);

    .DropDownToggle{
        font-size: 2em;
        font-weight: bold;
        margin-left: 10px;
        &a:hover{
            color: var(---white);
        }
    }
}