@import './vars.scss';

.MenuItem{
    display: flex;
    justify-content: space-between;
    color: var(---text);
}

@media only screen and (min-width: $screen-sm-min) {
    .MenuItemArrow{
        display: none;   
    }
}