.topbar{
    display: flex;
    justify-content: space-between;
    .topbarLeft{
        margin:20px 0 0 20px;
        .Logo{
            font-size: 10em;
            display: flex;
            color: var(---white);
        }
    }
    .topbarRight{
        margin:20px 20px 0 0;
        display: flex;
        flex-direction: row;
    }
}
